@model AgileCommercee.Data.User
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thông tin cá nhân</h2>

<div>
    <label>Tên đăng nhập:</label>
    <span>@Model.UserName</span>
</div>
<div>
    <label>Email:</label>
    <span>@Model.Email</span>
</div>
<div>
    <label>Số điện thoại:</label>
    <span>@Model.PhoneNumber</span>
</div>
<a asp-action="ChangePassword"><button>Đổi mật khẩu</button></a>
<a asp-action="QLTK"><button>Chinh sua thong tin tai khoan</button></a>
